@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 216 69% 23%;

    --card: 0 0% 100%;
    --card-foreground: 216 69% 23%;

    --popover: 0 0% 100%;
    --popover-foreground: 216 69% 23%;

    --primary: 209 69% 35%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 216 69% 23%;

    --radius: 0.5rem;

    --blue-gradient-light: 209 71% 34%;
    --blue-gradient-dark: 216 70% 18%;
    --red-gradient-light: 337 54% 36%;
    --red-gradient-dark: 263 48% 21%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply tracking-tight;
  }

  h1 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h2 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  h4 {
    @apply text-base md:text-lg;
  }

  [role='banner'],
  footer,
  main > div {
    @apply relative flex flex-col items-center justify-start bg-top bg-no-repeat px-4 sm:px-8;
  }

  [role='banner'] > div,
  footer > div,
  main > div > section {
    @apply w-full min-w-80 max-w-288;
  }
}
